{{ form_start(form) }}
<div class="mb-3">
	<label for="{{ form.title.vars.id }}" class="form-label">Título</label>
    {{ form_widget(form.title, {'attr': {'class': 'form-control' } }) }}
	<div id="emailHelp" class="form-text">Informe o título da propriedade.</div>
</div>
{# {{ form_widget(form) }} #}
<button class="me-2 btn btn-outline-info float-start">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
