{% extends 'base.html.twig' %}

{% block title %}ProductProperty index{% endblock %}

{% block body %}
    <h1>ProductProperty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_property in product_properties %}
            <tr>
                <td>{{ product_property.id }}</td>
                <td>{{ product_property.title }}</td>
                <td>
                    <a href="{{ path('app_admin_product_property_show', {'id': product_property.id}) }}">show</a>
                    <a href="{{ path('app_admin_product_property_edit', {'id': product_property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_property_new') }}">Create new</a>
{% endblock %}
