<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Área administrativa">
		<title>
			{% block title %}Web Admin
			{% endblock %}
		</title>
		<!-- Vendors styles-->
		<link rel="stylesheet" href="/admin/vendors/simplebar/css/simplebar.css">
		<link
		rel="stylesheet" href="/admin/css/vendors/simplebar.css">
		<!-- Main styles for this application-->
		<link
		href="/admin/css/style.css" rel="stylesheet">
		<!-- We use those styles to show code examples, you should remove them in your application.-->
		<link href="/admin/css/examples.css" rel="stylesheet">
		<link href="/admin/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
			<div class="sidebar-brand d-none d-md-flex">
				<svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
					<use xlink:href="assets/brand/coreui.svg#full"></use>
				</svg>
				<svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
					<use xlink:href="assets/brand/coreui.svg#signet"></use>
				</svg>
			</div>
			<ul class="sidebar-nav simplebar-scrollable-y simplebar-mouse-entered" data-coreui="navigation" data-simplebar="init">
				<div class="simplebar-wrapper" style="margin: 0px;">
					<div class="simplebar-height-auto-observer-wrapper">
						<div class="simplebar-height-auto-observer"></div>
					</div>
					<div class="simplebar-mask">
						<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
							<div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
								<div class="simplebar-content" style="padding: 0px;">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_admin_dashboard')}}">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" fill="white" height="20" class="me-4"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm320 96c0-26.9-16.5-49.9-40-59.3L280 88c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 204.7c-23.5 9.5-40 32.5-40 59.3c0 35.3 28.7 64 64 64s64-28.7 64-64zM144 176a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 80a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM400 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
											Dashboard
										</a>
									</li>
									<li class="nav-title">Produtos</li>
									<li class="nav-item">
										<a class="nav-link" href="{{path('app_admin_product_property_index')}}">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" fill="white" height="20" class="me-4"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z"/></svg>
											Propriedades
										</a>
									</li>

									<li class="nav-title">Notícias</li>
									<li class="nav-item">
										<a class="nav-link" href="{{path('app_admin_news_category_index')}}">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" height="20" class="me-4"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M168 80c-13.3 0-24 10.7-24 24l0 304c0 8.4-1.4 16.5-4.1 24L440 432c13.3 0 24-10.7 24-24l0-304c0-13.3-10.7-24-24-24L168 80zM72 480c-39.8 0-72-32.2-72-72L0 112C0 98.7 10.7 88 24 88s24 10.7 24 24l0 296c0 13.3 10.7 24 24 24s24-10.7 24-24l0-304c0-39.8 32.2-72 72-72l272 0c39.8 0 72 32.2 72 72l0 304c0 39.8-32.2 72-72 72L72 480zM176 136c0-13.3 10.7-24 24-24l96 0c13.3 0 24 10.7 24 24l0 80c0 13.3-10.7 24-24 24l-96 0c-13.3 0-24-10.7-24-24l0-80zm200-24l32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80l32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zM200 272l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/></svg>
											Categorias das notícias
										</a>
									</li>

									<li class="nav-title">Informações</li>
									<li class="nav-item">
										<a class="nav-link" href="{{path('app_admin_general_data_edit', {'id':1})}}">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" height="20" class="me-4"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z"/></svg>
                      Dados gerais
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="typography.html">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
											</svg>
											Typography</a>
									</li>
									<li class="nav-title">Components</li>
									<li class="nav-group">
										<a class="nav-link nav-group-toggle" href="#">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
											</svg>
											Base</a>
										<ul class="nav-group-items">
											<li class="nav-item">
												<a class="nav-link" href="base/accordion.html">
													<span class="nav-icon"></span>
													Accordion</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/breadcrumb.html">
													<span class="nav-icon"></span>
													Breadcrumb</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/cards.html">
													<span class="nav-icon"></span>
													Cards</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/carousel.html">
													<span class="nav-icon"></span>
													Carousel</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/collapse.html">
													<span class="nav-icon"></span>
													Collapse</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/list-group.html">
													<span class="nav-icon"></span>
													List group</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/navs-tabs.html">
													<span class="nav-icon"></span>
													Navs &amp; Tabs</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/pagination.html">
													<span class="nav-icon"></span>
													Pagination</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/placeholders.html">
													<span class="nav-icon"></span>
													Placeholders</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/popovers.html">
													<span class="nav-icon"></span>
													Popovers</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/progress.html">
													<span class="nav-icon"></span>
													Progress</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/scrollspy.html">
													<span class="nav-icon"></span>
													Scrollspy</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/spinners.html">
													<span class="nav-icon"></span>
													Spinners</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/tables.html">
													<span class="nav-icon"></span>
													Tables</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="base/tooltips.html">
													<span class="nav-icon"></span>
													Tooltips</a>
											</li>
										</ul>
									</li>
									<li class="nav-group">
										<a class="nav-link nav-group-toggle" href="#">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
											</svg>
											Buttons</a>
										<ul class="nav-group-items">
											<li class="nav-item">
												<a class="nav-link" href="buttons/buttons.html">
													<span class="nav-icon"></span>
													Buttons</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="buttons/button-group.html">
													<span class="nav-icon"></span>
													Buttons Group</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="buttons/dropdowns.html">
													<span class="nav-icon"></span>
													Dropdowns</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="charts.html">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
											</svg>
											Charts</a>
									</li>
									<li class="nav-group">
										<a class="nav-link nav-group-toggle" href="#">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
											</svg>
											Forms</a>
										<ul class="nav-group-items">
											<li class="nav-item">
												<a class="nav-link" href="forms/form-control.html">
													Form Control</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/select.html">
													Select</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/checks-radios.html">
													Checks and radios</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/range.html">
													Range</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/input-group.html">
													Input group</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/floating-labels.html">
													Floating labels</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/layout.html">
													Layout</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="forms/validation.html">
													Validation</a>
											</li>
										</ul>
									</li>
									<li class="nav-group">
										<a class="nav-link nav-group-toggle" href="#">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>
											</svg>
											Icons</a>
										<ul class="nav-group-items">
											<li class="nav-item">
												<a class="nav-link" href="icons/coreui-icons-free.html">
													CoreUI Icons<span class="badge badge-sm bg-success ms-auto">Free</span>
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="icons/coreui-icons-brand.html">
													CoreUI Icons - Brand</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="icons/coreui-icons-flag.html">
													CoreUI Icons - Flag</a>
											</li>
										</ul>
									</li>
									<li class="nav-group">
										<a class="nav-link nav-group-toggle" href="#">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
											</svg>
											Notifications</a>
										<ul class="nav-group-items">
											<li class="nav-item">
												<a class="nav-link" href="notifications/alerts.html">
													<span class="nav-icon"></span>
													Alerts</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="notifications/badge.html">
													<span class="nav-icon"></span>
													Badge</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="notifications/modals.html">
													<span class="nav-icon"></span>
													Modals</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="notifications/toasts.html">
													<span class="nav-icon"></span>
													Toasts</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="widgets.html">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
											</svg>
											Widgets<span class="badge badge-sm bg-info ms-auto">NEW</span>
										</a>
									</li>
									<li class="nav-divider"></li>
									<li class="nav-title">Extras</li>
									<li class="nav-group">
										<a class="nav-link nav-group-toggle" href="#">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>
											</svg>
											Pages</a>
										<ul class="nav-group-items">
											<li class="nav-item">
												<a class="nav-link" href="login.html" target="_top">
													<svg class="nav-icon">
														<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
													</svg>
													Login</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="register.html" target="_top">
													<svg class="nav-icon">
														<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
													</svg>
													Register</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="404.html" target="_top">
													<svg class="nav-icon">
														<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
													</svg>
													Error 404</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="500.html" target="_top">
													<svg class="nav-icon">
														<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
													</svg>
													Error 500</a>
											</li>
										</ul>
									</li>
									<li class="nav-item mt-auto">
										<a class="nav-link" href="https://coreui.io/docs/templates/installation/" target="_blank">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-description"></use>
											</svg>
											Docs</a>
									</li>
									<li class="nav-item">
										<a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
											<svg class="nav-icon">
												<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-layers"></use>
											</svg>
											Try CoreUI
											<div class="fw-semibold">PRO</div>
										</a>
									</li>
								</div>
							</div>
						</div>
					</div>
					<div class="simplebar-placeholder" style="width: 256px; height: 841px;"></div>
				</div>
				<div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
					<div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
				</div>
				<div class="simplebar-track simplebar-vertical simplebar-hover" style="visibility: visible;">
					<div class="simplebar-scrollbar simplebar-visible simplebar-hover" style="height: 220px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
				</div>
			</ul>
			<button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
		</div>
		<div class="wrapper d-flex flex-column min-vh-100 bg-light">
			<header class="header header-sticky mb-4">
				<div class="container-fluid">
					<button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
						<svg class="icon icon-lg">
							<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
						</svg>
					</button>
					<a class="header-brand d-md-none" href="#">
						<svg width="118" height="46" alt="CoreUI Logo">
							<use xlink:href="assets/brand/coreui.svg#full"></use>
						</svg>
					</a>
					Dashboard
				</div>

			</header>
			<div class="body flex-grow-1 px-3">
				<div class="container-lg"> {% block body %}{% endblock %}
					</div>
				</div>
				<footer class="footer">
					<div>
						<a href="https://coreui.io/demos/bootstrap/5.0/free/?theme=light">CoreUI
						</a>© 2024 creativeLabs.</div>
					<div class="ms-auto">Desenvolvido por by&nbsp;<a href="#">LFSolutions</a>
					</div>
				</footer>
			</div>
			<!-- CoreUI and necessary plugins-->
			<script src="/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
			<script src="/admin/vendors/simplebar/js/simplebar.min.js"></script>
			<!-- Plugins and scripts required by this view-->
			<script src="/admin/vendors/chart.js/js/chart.min.js"></script>
			<script src="/admin/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
			<script src="/admin/vendors/@coreui/utils/js/coreui-utils.js"></script>
			<script src="/admin/js/main.js"></script>
			<script></script>


		</body>
	</html>
