{{ form_start(form) }}
<div class="mb-3">
	<label for="{{ form.title.vars.id }}" class="form-label">Nome do produto</label>
    {{ form_widget(form.title, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.status.vars.id }}" class="form-label">Status</label>
    {{ form_widget(form.status, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.code.vars.id }}" class="form-label">Código</label>
    {{ form_widget(form.code, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.shortDescription.vars.id }}" class="form-label">Descrição curta</label>
    {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control' } }) }}
</div>

<label for="{{ form.youtubeVideo.vars.id }}" class="form-label">Código do Vídeo</label>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://youtube.com/watch?v=</span>
    {{ form_widget(form.youtubeVideo, {'attr':{'class':'form-control','rows':'6'}}) }}
</div>

<div class="mb-3">
	<label for="{{ form.language.vars.id }}" class="form-label">Idioma</label>
    {{ form_widget(form.language, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.category.vars.id }}" class="form-label">Categoria</label>
    {{ form_widget(form.category, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.description.vars.id }}" class="form-label">Descrição</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.imageFile.vars.id }}" class="form-label">Imagem</label>
    {{ form_widget(form.imageFile) }}
	 {% if product.imageFile is not empty %}
    	<img class="mt-3" src="{{ vich_uploader_asset(product,'imageFile') }}" width="150" />
    {% endif %}
</div>

<button class="me-2 btn btn-outline-info float-start">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
