{% extends 'base.html.twig' %}
{% block title %}
	Lista dos manuais do Produtos
{% endblock %}
{% block javascripts %}
	<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "lengthMenu": [[ 10, 25, 50, 100,-1], [ 10, 25, 50, 100,"Todos"]],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "search": " Pesquisar",

                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
	</script>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css"/>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>


  <h1>{{ product.title }}</h1>
  <h4>Manual do produto</h4>


<div class="row text-end">
	<div class="col">
		<a href="{{ path('app_admin_product_manual_new', {'productId':product.id}) }}" class="mb-2 btn btn-outline-secondary">Criar novo</a>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<h5>Lista dos manuais dos Produtos</h5>
	</div>
	<div class="card-body">
		<table class="table" id="myTable">
			<thead>
				<tr>
					<th>Title</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for product_manual in product_manuals %}
					<tr>
						<td>{{ product_manual.title }}</td>
						<td>
              {% if product_manual.manualFile is not empty %}
								<a target="_blank" class="btn btn-outline-secondary float-end ms-2" href="{{ vich_uploader_asset(product_manual,'manualFile') }}">PDF</a>
							{% endif %}
							<a href="{{ path('app_admin_product_manual_edit', {'id': product_manual.id, 'productId':product.id}) }}" class="btn btn-outline-secondary float-end">Editar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Nenhum registro encontrado.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <a href="{{ path('app_admin_product_index', {'productId': product.id}) }}" class="btn btn-outline-secondary me-2 float-start">Voltar</a>
	</div>
</div>{% endblock %}


