{{ form_start(form) }}
<div class="mb-3">
	<label for="{{ form.productProperty.vars.id }}" class="form-label">Propriedade do produto</label>
    {{ form_widget(form.productProperty, {'attr': {'class': 'form-control' } }) }}
</div>

<div class="mb-3">
	<label for="{{ form.value.vars.id }}" class="form-label">Valor</label>
    {{ form_widget(form.value, {'attr': {'class': 'form-control' } }) }}
</div>

<button class="me-2 btn btn-outline-info float-start">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
