{% extends 'base.html.twig' %}
{% set languagesEnum = enum('\\App\\Entity\\Enum\\LanguageEnum') %}
{% block title %}
	Propriedade do Produto
{% endblock %}
{% block javascripts %}
	<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "lengthMenu": [[ 10, 25, 50, 100,-1], [ 10, 25, 50, 100,"Todos"]],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "search": " Pesquisar",

                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
	</script>
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css"/>
	<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>

    <h1>{{ product.title }}</h1>
    <h4>Propriedades do produto</h4>

	<div class="row text-end">
		<div class="col">
			<a href="{{ path('app_admin_product_property_value_new',{'productId':product.id}) }}" class="mb-2 btn btn-outline-secondary">Criar novo</a>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			<h5>Propriedade do Produto</h5>
		</div>
		<div class="card-body">
			<table class="table" id="myTable">
				<thead>
					<tr>
						<th>Propriedade</th>
						<th>Valor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for product_property_value in product_property_values %}
						<tr>
							<td>{{ product_property_value.productProperty.title }}</td>
							<td>{{ product_property_value.value }}</td>

							<td>
								<a href="{{ path('app_admin_product_property_value_edit', {'id': product_property_value.id, 'productId':product.id}) }}" class="btn btn-outline-secondary float-end">Editar</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Nenhum registro encontrado.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
      <a href="{{ path('app_admin_product_index', {'productId': product.id}) }}" class="btn btn-outline-secondary me-2 float-start">Voltar</a>

		</div>
	</div>
{% endblock %}


